# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~
.DS_Store

# Undo-tree save-files
elpa/
eln-cache/
auto-save-list/
eshell/
history
ielm-history*
projects*
recentf*
bookmarks*
custom*
places*
